@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F7F6F3;

    padding: 1.25rem;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    background: url("imgs/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}